/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 28, 2013, 11:59:37 PM
    Author     : pbruijnes
*/

h1.logo{
    margin: 20px 0 0 0;
    color: #202d33;
    font-weight: normal;
    font-size: 1.9em;
    line-height: 1.2;
    font-family: 'ralewayregular';
    text-transform: uppercase;
    font-weight: bold;
}

a.green{
    color:green !important;
}